{% extends 'base.html.twig' %}

{% block title %}E221 Tech.com | Accueil{% endblock %}

{% block body %}
<div class="div_middle">
    <div class="text_middle">
        <h1 class="text-primary">E221 Tech, votre agence immobilière <br> près de chez-vous !</h1>
    </div>
</div>
<img src="{{ asset('images/plan.jpg') }}" width="100%" alt="Symfony!"/>
{% endblock %}
